/* font */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* css reset */
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 20px;
  line-height: 120%;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

/* colors */
:root {
  --background: #222;
  --text: #eee;
  --highlight-1: #123456;
  --highlight-2: #7890ab;
}

/* body */
body {
  font-family: "Press Start 2P", cursive;
  background-color: var(--background);
  color: var(--text);
}

/* header */
header {
  margin: 50px auto;
}

h1,
h2 {
  display: block;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
}
